- if user_signed_in?
  - if prototype.like_user(current_user.id)
    = button_to prototype_like_path(like, prototype_id: prototype.id), method: :delete, id: "like-button", class: "btn-default decrement-button", remote: true do
      = image_tag("icon_heart_red.svg")
      %span
        Like
        = prototype.likes_count
  - else
    = button_to prototype_likes_path(prototype), id: "like-button", class: "btn-default increment-button", remote: true do
      = image_tag("icon_heart.svg")
      %span
        Like
        = prototype.likes_count
- else
  = button_to new_user_session_path, class: "btn-default" do
    = image_tag("icon_heart.svg")
    %span
      Like
      = prototype.likes_count
