.col-sm-4.col-md-3.proto-content
  - if current_user.id == proto.user_id && user_signed_in?
    .dropdown.drop_menu_location.open
      %button.btn.btn-default.dropdown-toggle{ type: "button", data: {toggle: "dropdown"}, area: {expanded: true}}
        Action
      %ul.dropdown-menu{ aria: {labelledby: "dropdownMenu1"}}
        %li
          = link_to 'Delete', prototype_path(proto), method: :delete
        %li
          = link_to 'Edit', edit_prototype_path(proto)
  .thumbnail
    = link_to prototype_path(proto) do
      = image_tag(proto.images.main.first.content)
    .caption
      %h3= proto.title
      .proto-meta
        .proto-user
          = link_to "by #{proto.user.name}", user_path(proto.user)
        .proto-posted
          = proto.created_at.strftime("%Y年%m月%d日")
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
